

<form class="layui-form" lay-filter="holiday-edit-form" id="holiday-edit-form" style="padding: 20px 30px 0 0;">
  <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
       <div style="line-height: 20px;padding: 9px 15px;">{{d.params.member}}</div>
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">工号</label>
    <div class="layui-input-block">
      <script type="text/html" template>
       <div style="line-height: 20px;padding: 9px 15px;">{{d.params.work_num}}</div>
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">部门</label>
    <div class="layui-input-block">
      <script type="text/html" template>
       <div style="line-height: 20px;padding: 9px 15px;">{{d.params.department}}</div>
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">总天数</label>
    <div class="layui-input-block">
      <script type="text/html" template>
       <div style="line-height: 20px;padding: 9px 15px;">{{d.params.total_days}}</div>
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">剩余天数</label>
    <div class="layui-input-block">
      <script type="text/html" template>
       <input type="text" name="remain_days" placeholder="请输入该员工的剩余天数" value="{{d.params.remain_days}}" class="layui-input">
      </script>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="holiday-edit-form-submit" value="确认" class="layui-btn">
    </div>
  </div>
</form>

<script>
layui.use(['index', 'form'], function(){
  var $ = layui.$
  ,form = layui.form; 
      
})
</script>