
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>假期管理</cite></a>
    <a><cite>假期列表</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-tab" style="padding-top: 13px;">
      <ul class="layui-tab-title">
        <li class="layui-this">年假</li>
        <li>调休</li>
        <li>奖励假</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <table id="user-holidays-table" lay-filter="user-holidays-table"></table>
          <script type="text/html" id="user-holidays-toolbar">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
            <a class="layui-btn layui-btn layui-btn-xs" lay-event="edd"><i class="layui-icon layui-icon-delete"></i>删除</a>
          </script>
        </div>
        <div class="layui-tab-item">内容2</div>
        <div class="layui-tab-item">内容3</div>
      </div>
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'table'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,form = layui.form;

  table.render({
    elem: '#user-holidays-table'
    ,url: './json/user_holidays.js' //模拟接口
    ,cols: [[
      {field: 'member', title: '姓名'}
      ,{field: 'work_num', title: '工号'}
      ,{field: 'department', title: '部门'}
      ,{field: 'total_days', title: '总天数'}
      ,{field: 'remain_days', title: '剩余天数'}
      ,{title: '操作', align: 'center', fixed: 'right', toolbar: '#user-holidays-toolbar'}
      ]]
    ,page: true
    ,limit: 10
    ,text: '对不起，加载出现异常！'
  });

  //监听工具条
  table.on('tool(user-holidays-table)', function(obj){
    var data = obj.data;
    if(obj.event === 'edit'){
      admin.popup({
        title: '编辑'
        ,area: ['450px', '450px']
        ,id: 'user-holidays-popup'
        ,success: function(layero, index){
          view(this.id).render('holiday/h_list/listform', data).done(function(data){
            form.render(null, 'layuiadmin-form-workorder');
            
            //监听提交
            form.on('submit(LAY-app-workorder-submit)', function(data){
              var field = data.field; //获取提交的字段

              //提交 Ajax 成功后，关闭当前弹层并重载表格
              //$.ajax({});
              layui.table.reload('LAY-app-workorder'); //重载表格
              layer.close(index); //执行关闭 
            });
          });
        }
      });
    }
  });
});
</script>