.layui-anim {
    width: 150px;
    height: 150px;
    position: relative;
    left: 50px;
    top: 50px;
    text-align: center;
    line-height: 150px;
    background-color: #fff;
    border: 5px solid #efefef;
    cursor: pointer;
    color: #666;
    border-radius: 50%;
    font-size: 20px;
}