

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>请假管理</cite></a>
    <a><cite>假期申请</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header">表单</div>
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="askleave-form">

        <div class="layui-form-item">
          <label class="layui-form-label">工号</label>
          <div class="layui-input-inline">
            <input type="text" name="work_num" placeholder="请输入你的工号" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">请假类型</label>
          <div class="layui-input-inline">
            <select name="holiday_type" lay-filter="holiday_type" id="holiday_type">

            </select>
          </div>
        </div>
        
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-block">
              <input type="text" name="start_day" id="date1" autocomplete="off" class="layui-input">
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-block">
              <input type="text" name="end_day" id="date2" autocomplete="off" class="layui-input">
            </div>
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">时长</label>
          <div class="layui-input-block">
            <div class="layui-input-inline">
              <input type="text" name="leave_days" placeholder="请输入请假天数" class="layui-input">
            </div>
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">请假事由</label>
          <div class="layui-input-block">
            <textarea name="leave_reason" placeholder="请输入请假原因" class="layui-textarea"></textarea>
          </div>
        </div>
             
        <div class="layui-form-item">
          <div class="layui-input-block">
            <div class="layui-footer">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'form', 'laydate'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,element = layui.element
  ,layer = layui.layer
  ,view = layui.view
  ,laydate = layui.laydate
  ,form = layui.form;
  
  form.render(null, 'askleave-form');

  //发送ajax 请求获取假期类型
  $.ajax({
    url:'./json/holiday_type_list.js',
    type:'GET',
    data:{},
    dataType:'json',
    success:function(res){
      var data = res.data;
      var html = ""
      html += "<option value=''>请选择</option>";
      for(var i=0; i<data.length; i++){
        html += "<option value='"+ data[i].id +"'>" + data[i].holiday + "</option>";
      }
      $("#holiday_type").append(html);
      form.render('select');
    }
  });



  laydate.render({
    elem: '#LAY-askleave-form-date'
  });

  laydate.render({
    elem: '#date1'
  });
  laydate.render({
    elem: '#date2'
  });
  
  /* 自定义验证规则 */
  form.verify({
    title: function(value){
      if(value.length < 5){
        return '标题至少得5个字符啊';
      }
    }
    ,pass: [/(.+){6,12}$/, '密码必须6到12位']
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });
  
  /* 监听指定开关 */
  form.on('switch(component-form-switchTest)', function(data){
    layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
      offset: '6px'
    });
    layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
  });
  
  /* 监听提交 */
  form.on('submit(component-form-demo1)', function(data){
    layer.alert(JSON.stringify(data.field), {
      title: '最终的提交信息'
    })
    return false;
  });
});
</script>