
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>请假管理</cite></a>
    <a><cite>审批列表</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
    </div>
    
    <div class="layui-card-body">

      <table id="leave_list_table" lay-filter="leave_list_table"></table>
      <script type="text/html" id="member-list-order">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="agree"><i class="layui-icon layui-icon-edit"></i>通过</a>
        <a class="layui-btn layui-btn layui-btn-xs" lay-event="reject"><i class="layui-icon layui-icon-delete"></i>拒绝</a>
      </script>

    </div>
  </div>
</div>

<script>
layui.use(['admin', 'table', 'form'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,form = layui.form;

  table.render({
    elem: '#leave_list_table'
    ,url: './json/leave_list.js' //模拟接口
    ,cols: [[
      {field: 'member', title: '姓名', width: 80}
      ,{field: 'department', title: '部门', width: 90}
      ,{field: 'work_num', title: '工号'}
      ,{field: 'start_time', title: '开始时间'}
      ,{field: 'end_time', title: '结束时间'}
      ,{field: 'leave_days', title: '总天数', width: 80}
      ,{field: 'leave_reason', title: '请假理由'}
      ,{title: '操作', align: 'center', fixed: 'right', toolbar: '#member-list-order'}
      ]]
    ,page: true
    ,limit: 10
    ,text: '对不起，加载出现异常！'
  });

    //监听工具条
  table.on('tool(leave_list_table)', function(obj){
    var member = obj.data;
    // console.log(member);
    if(obj.event === 'agree'){
      console.log("审批通过")
    } else if (obj.event === 'reject') {
      console.log("审批未通过")
    }
  });
});
</script>