

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>员工管理</cite></a>
    <a><cite>新添员工</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header">表单</div>
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="member-add-form">
        <div class="layui-form-item">
          <label class="layui-form-label">姓名</label>
          <div class="layui-input-block">
            <input type="text" name="username" placeholder="请输入真实姓名" class="layui-input">
          </div>
        </div>
        
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-block">
              <select style="padding-right: 0;" name="department" lay-verify="">
                <option value="">请选择</option>
                <option value="0">软件学院</option>
                <option value="1">计算机学院</option>
                <option value="3">网络安全学院</option>
                <option value="3">人工智能学院</option>
              </select> 
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">工号</label>
            <div class="layui-input-block">
              <input type="text" name="work_num" placeholder="请输入工号"  class="layui-input">
            </div>
          </div>
        </div>
             
        <div class="layui-form-item">
          <div class="layui-input-block">
            <div class="layui-footer">
              <button class="layui-btn" lay-submit="" lay-filter="member-add-submit">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
layui.use(['form', 'laydate', 'layer'], function(){
  var $ = layui.$
  ,layer = layui.layer
  ,form = layui.form;
  
  form.render(null, 'member-add-form');

    
  /* 监听提交 */
  form.on('submit(member-add-submit)', function(data){
    $.ajax({
        url:'http://47.95.9.18:8001/accounts/',
        type:'post',
        data: data.field,
        dataType:'json',
        success:function(res){
          layer.msg(res.msg);
        }
      });
    return false;
  });
});
</script>