

<form class="layui-form" id="member-listform-form" lay-filter="member-listform-form" style="padding: 20px 30px 0 0;">
  <script type="text/html" template>
    <input type="hidden" name="uid" value="{{d.params.uid}}">
  </script>
  <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="username" value="{{d.params.username}}" lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
      </script>
    </div>
    
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">部门</label>
        <div class="layui-input-block">
          <script type="text/html" template>
            <select style="padding-right: 0;" name="department" lay-verify="">
              <option value="">请选择</option>
              <option value="0" {{d.params.department == 0?"selected": ""}}>软件学院</option>
              <option value="1" {{d.params.department == 1?"selected": ""}}>计算机学院</option>
              <option value="2" {{d.params.department == 2?"selected": ""}}>网络安全学院</option>
              <option value="3" {{d.params.department == 3?"selected": ""}}>人工智能学院</option>
            </select>
          </script> 
        </div>
      </div>
  </div>     
  <div class="layui-form-item">
    <label class="layui-form-label">工号</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="work_num" value="{{d.params.work_num}}" lay-verify="required" placeholder="请输入工号" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="member-listform-submit" value="确认" class="layui-btn">
    </div>
  </div>
</form>

<script>
layui.use(['admin', 'form', 'laydate'], function(){
  var $ = layui.$
  ,layer = layui.layer
  ,form = layui.form;
  
  form.render(null, 'component-form-group');
  
});
</script>