
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>员工管理</cite></a>
    <a><cite>员工列表</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
    </div>
    
    <div class="layui-card-body">

      <table id="member_list_table" lay-filter="member_list_table"></table>
      <script type="text/html" id="member-list-order">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
      <script type="text/html" id="department_tpl">
        {{# if (d.department == "0"){}}
          <span>软件学院</span>
        {{# } else if (d.department == "1"){}}
          <span>计算机学院</span>
        {{# } else if (d.department == "2"){}}
          <span>网络安全学院</span>
        {{# } else {}}
          <span>人工智能学院</span>
        {{# }}}
      </script>

    </div>
  </div>
</div>

<script>
layui.use(['admin', 'table', 'form'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,form = layui.form;

  table.render({
    elem: '#member_list_table'
    ,url: 'http://47.95.9.18:8001/accounts/' //模拟接口
    ,cols: [[
      {field: 'username', title: '姓名'}
      ,{field: 'department', title: '部门', templet: '#department_tpl'}
      ,{field: 'work_num', title: '工号'}
      ,{title: '操作', align: 'center', fixed: 'right', toolbar: '#member-list-order'}
      ]]
    ,page: true
    ,limit: 10
    ,text: '对不起，加载出现异常！'
  });

    //监听工具条
  table.on('tool(member_list_table)', function(obj){
    var data = obj.data;
    console.log(data);
    if(obj.event === 'edit'){
      admin.popup({
        title: '编辑员工信息'
        ,area: ['450px', '450px']
        ,id: 'members-listform-popup'
        ,success: function(layero, index){
          view(this.id).render('members/listform', data).done(function(form_html){
            form.render(null, 'member-listform-form');
            
            //监听提交
            form.on('submit(member-listform-submit)', function(form_html){
              var field = form_html.field; //获取提交的字段

              $.ajax({
                url:'http://47.95.9.18:8001/accounts/' + field.uid,
                type:'PUT',
                data: field,
                dataType:'json',
                success:function(res){
                  layui.table.reload('member_list_table'); //重载表格
                  layer.close(index); //执行关闭 
                }
              });

            });
          });
        }
      });
    } else if (obj.event === 'del') {
      $.ajax({
        url:'http://47.95.9.18:8001/accounts/' + data.uid,
        type:'delete',
        dataType:'json',
        success:function(res){
          layui.table.reload('member_list_table'); //重载表格
          layer.close(index); //执行关闭 
        }
      });
    }
  });
});
</script>