
<script type="text/html" template>
  <link rel="stylesheet" href="{{ layui.setter.base }}style/login.css?v={{ layui.admin.v }}-1" media="all">
</script>


<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

  <div class="layadmin-user-login-main">
    <div class="layadmin-user-login-box layadmin-user-login-header">
      <h2>考勤系统</h2>
      <p>软工一班官方出品的前后端分离的简单考勤系统</p>
    </div>
    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
      <div class="layui-form-item">
        <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
        <input type="text" name="work_num" id="LAY-user-login-username" lay-verify="required" placeholder="请输入工号" class="layui-input">
      </div>
      <div class="layui-form-item">
        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
        <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="请输入密码" class="layui-input">
      </div>
      <div class="layui-form-item">
        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 入</button>
      </div>
    </div>
  </div>
  
  <div class="layui-trans layadmin-user-login-footer">    
    <p>© 2018 <a href="http://www.layui.com/" target="_blank">web开发小组：陈诺，熊清欧，彭昱菡，王冠，赵煜东</a></p>
  </div>
  
</div>

<script>
layui.use(['admin', 'form', 'user'], function(){
  var $ = layui.$
  ,setter = layui.setter
  ,admin = layui.admin
  ,form = layui.form
  ,router = layui.router()
  ,search = router.search;

  form.render();

  //提交
  form.on('submit(LAY-user-login-submit)', function(obj){

    $.ajax({
      url:'http://47.95.9.18:8001/login/',
      type:'POST',
      data:obj.field,
      dataType:'json',
      success:function(res){
        console.log(res)
        console.log(this.data)
        console.log(setter)
        layui.data(setter.tableName, {
          key: setter.request.tokenName
          ,value: res.priority
        });
        if (res.code == 0) {
          layer.msg('登入成功', {
            offset: '15px'
            ,icon: 1
            ,time: 1000
          }, function(){
            location.hash = search.redirect ? decodeURIComponent(search.redirect) : '/members/list';
          });
        }
        
      }
    });

    // admin.req({
    //   url: 'http://localhost:8001/login/'
    //   ,data: obj.field
    //   ,dataType: "jsonp"
    //   ,done: function(res){
    //     console.log(res)
    //     console.log(this.data)


      
    //     // //请求成功后，写入 access_token
    //     // layui.data(setter.tableName, {
    //     //   key: setter.request.tokenName
    //     //   ,value: res.data.access_token
    //     // });
        
    //     //登入成功的提示与跳转
    //     // layer.msg('登入成功', {
    //     //   offset: '15px'
    //     //   ,icon: 1
    //     //   ,time: 1000
    //     // }, function(){
    //     //   location.hash = search.redirect ? decodeURIComponent(search.redirect) : '/members/list';
    //     // });
    //   }
    // });
    
  });
  
  
});
</script>