

<form class="layui-form" lay-filter="holiday-edit-form" id="holiday-edit-form" style="padding: 20px 30px 0 0;">
  <script type="text/html" template>
    <input type="hidden" name="hid" value="{{d.params.hid}}">
  </script>
  <div class="layui-form-item">
    <label class="layui-form-label">假期类型</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="type" value="{{d.params.type}}" lay-verify="required" placeholder="修改假期名称" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input type="hidden" name="status" id="holiday-status-switch-value" value="{{d.params.status}}">
        <input type="checkbox" id="holiday-status-switch" lay-filter="holiday-status-switch" lay-skin="switch" lay-text="开启|停用"  {{d.params.status==0?"":"checked"}}>
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">假期上限(天)</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="max_days" placeholder="请输入假期上限,单位为天" value="{{d.params.max_days}}" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">周期</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="radio" name="period" value="1" title="每周" {{d.params.period==1?"checked":""}}>
        <input type="radio" name="period" value="2" title="每月" {{d.params.period==2?"checked":""}}>
        <input type="radio" name="period" value="3" title="每年" {{d.params.period==3?"checked":""}}>
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">附加文件</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input type="hidden" name="attachment" id="holiday-attachment-switch-value" value="{{d.params.attachment}}">
        <input type="checkbox" id="holiday-attachment-switch" lay-filter="holiday-attachment-switch" lay-skin="switch" lay-text="是|否"  {{d.params.attachment=="0"?"":"checked"}}>
      </script>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="holiday-edit-form-submit" value="确认" class="layui-btn">
    </div>
  </div>
</form>

<script>
layui.use(['index', 'form'], function(){
  var $ = layui.$
  ,form = layui.form; 
      
})
</script>