
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>假期管理</cite></a>
    <a><cite>假期类型</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
    </div>
    
    <div class="layui-card-body">

      <table id="holiday-type-table" lay-filter="holiday-type-table"></table>
      <script type="text/html" id="status_tpl">
        <a class="layui-table-link">{{d.status == 0 ? "停用" : "启用"}}</a>
      </script>
      <script type="text/html" id="period_tpl">
        {{# if (d.period == 1){}}
          <span>每周</span>
        {{# } else if (d.period == 2){}}
          <span>每月</span>
        {{# } else {}}
          <span>每年</span>
        {{# }}}
      </script>
      <script type="text/html" id="attachment_tpl">
        {{# if (d.attachment == "1"){}}
          <span>是</span>
        {{# } else {}}
          <span>否</span>
        {{# }}}
      </script>
      <script type="text/html" id="member-list-order">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>

    </div>
  </div>
</div>

<script>
layui.use(['admin', 'table', 'form'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,form = layui.form;

  table.render({
    elem: '#holiday-type-table'
    ,url: 'http://47.95.9.18:8001/holidays/' //模拟接口
    ,cols: [[
      {field: 'type', title: '假期类型'}
      ,{field: 'status', title: '状态',  templet: '#status_tpl'}
      ,{field: 'max_days', title: '假期上限(天)'}
      ,{field: 'period', title: '周期',  templet: '#period_tpl'}
      ,{field: 'attachment', title: '附加文件', templet: '#attachment_tpl'}
      ,{title: '操作', align: 'center', fixed: 'right', toolbar: '#member-list-order'}
      ]]
    ,page: true
    ,limit: 10
    ,text: '对不起，加载出现异常！'
  });

    //监听工具条
  table.on('tool(holiday-type-table)', function(obj){
    var data = obj.data;
    if(obj.event === 'edit'){
      admin.popup({
        title: '修改假期类型'
        ,area: ['450px', '450px']
        ,id: 'holiday-type-popup'
        ,success: function(layero, index){
          view(this.id).render('holiday/h_type/listform', data).done(function(from_html){
            form.render(null, 'holiday-edit-form');
            //监听提交
            form.on('submit(holiday-edit-form-submit)', function(from_html){
              var field = from_html.field; //获取提交的字段
              $.ajax({
                url:'http://47.95.9.18:8001/holidays/' + field.hid,
                type:'PUT',
                data: field,
                dataType:'json',
                success:function(res){
                  layui.table.reload('holiday-type-table'); //重载表格
                  layer.close(index); //执行关闭 
                }
              });
            });

            //监听开关
            form.on('switch(holiday-status-switch)', function(data){
              if (data.elem.checked) {
                $("#holiday-status-switch-value").attr("value", "1")
              } else {
                $("#holiday-status-switch-value").attr("value", "0")
              }
            }); 
            form.on('switch(holiday-attachment-switch)', function(data){
              if (data.elem.checked) {
                $("#holiday-attachment-switch-value").attr("value", "1")
              } else {
                data.elem.value = '2';
                $("#holiday-attachment-switch-value").attr("value", "0")
              }
            }); 
          });
        }
      });
    } else if (obj.event === 'del') {
      $.ajax({
        url:'http://47.95.9.18:8001/holidays/' + data.hid,
        type:'delete',
        dataType:'json',
        success:function(res){
          layer.msg("删除成功");
          layui.table.reload('holiday-type-table'); //重载表格
          layer.close(index); //执行关闭 
        }
      });
    }
  });
});
</script>